<div>
  <div class="container">
    <div class="row  text-center">
      <h1 class="font-weight-normal  pt-4">Nuestras instalaciones</h1>
      <p>En el Campus Sur de la UPM disponemos de distintas instalaciones para que practiques el Padel de una
        forma cómoda y profesional.</p>
    </div>
    <div class="row  text-center">
      <div class="col-lg-4 col-sm-6 p-4">
        <img width="50%" height="50%" style="min-width: 250px;" class="rounded mx-auto d-block shadow"
             src="./assets/images/instalaciones/pista-cubierta.png">
        <h2 class="font-weight-light mt-2">Pistas de cristal cubiertas</h2>
        <p class="font-weight-light">El campus sur de la UPM cuenta con 4 pistas de cristal cubiertas en la zona
          este junto a la pista de atletismo.</p>
        <p><a class="btn btn-outline-info" href="./reservar.html" role="button">Reservar</a></p>
      </div>
      <div class="col-lg-4 col-sm-6 p-4">
        <img width="50%" height="50%" style="min-width: 250px;" class="rounded mx-auto d-block shadow"
             src="./assets/images/instalaciones/pista-semicubierta.jpg">
        <h2 class="font-weight-light mt-2">Pistas de cristal semicubiertas</h2>
        <p class="font-weight-light">También se encuentran a disposición de los estudiantes 3 pistas de cristal
          semicubiertas.</p>
        <p><a class="btn btn-outline-info" href="./reservar.html" role="button">Reservar</a></p>
      </div>
      <div class="col-lg-4  col-sm-6 p-4">
        <img width="50%" height="50%" style="min-width: 250px;" class="rounded mx-auto d-block shadow"
             src="./assets/images/instalaciones/pista-cemento-exterior.jpg">
        <h2 class="font-weight-light mt-2">Pistas de cemento</h2>
        <p class="font-weight-light">Si prefieres jugar al aire libre existen varias pistas de cemento
          exteriores.</p>
        <p><a class="btn btn-outline-info" href="./reservar.html" role="button">Reservar</a></p>
      </div>
      <div class="col-lg-4  col-sm-6 p-4">
        <img width="50%" height="50%" style="min-width: 250px;" class="rounded mx-auto d-block shadow"
             src="./assets/images/instalaciones/pista-tenis.jpg">
        <h2 class="font-weight-light mt-2">Pistas de tenis</h2>
        <p class="font-weight-light">Si te apetece practicar tenis algún día que sepas que también podrás
          hacerlo en cualquiera de nuestras pistas.</p>
        <p><a class="btn btn-outline-info" href="./reservar.html" role="button">Reservar</a></p>
      </div>
      <div class="col-lg-4  col-sm-6 p-4">
        <img width="50%" height="50%" style="min-width: 250px;" class="rounded mx-auto d-block shadow"
             src="./assets/images/instalaciones/vestuarios.jpg">
        <h2 class="font-weight-light mt-2">Vestuarios</h2>
        <p class="font-weight-light">Después del entrenamiento o de jugar con tus amigos podrás asearte en
          nuestros vestuarios situados en la planta baja al lado de recepción.</p>
        <!--                <p><a class="btn btn-secondary" href="./reservar.html" role="button">Reservar</a></p>-->
      </div>
      <div class="col-lg-4   col-sm-6 p-4">
        <img width="50%" height="50%" style="min-width: 250px;" class="rounded mx-auto d-block shadow"
             src="./assets/images/instalaciones/cafeteria.jpg">
        <h2 class="font-weight-light mt-2">Cafetería</h2>
        <p class="font-weight-light">Recupera fuerzas tomandote algo en la cafetería de la politécnica. Abierta
          todos los días de 9:00 a 22:00 .</p>
        <!--                <p><a class="btn btn-secondary" href="./reservar.html" role="button">Reservar</a></p>-->
      </div>
    </div>
  </div>
  <div id="googleMap"></div>
</div>
