<div class="container">
  <div class="row justify-content-start">
    <div class="col ">
      <h2>Tus reservas</h2>
    </div>
    <div class="col ">
      <button type="button" (click)="restartForm()" class="btn btn-primary mr-2" data-toggle="modal"
              data-target="#exampleModalCenter">
        Nueva reserva
      </button>
      <button type="button" (click)="deleteBookings()" class="btn btn-primary btn-danger "> Eliminar reservas</button>
    </div>
    <!-- TODO  poner un tooltip de que no puede hacer mas reservar si ya tiene 4, que elimine una antes-->
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content border-0 shadow-lg">
        <div class="modal-header border-bottom-0">
          <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span  aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body my-4">
          <form [formGroup]="bookingForm"
                id="bookingForm" class=" form-signin p-3 m-auto w-100">
            <div *ngIf="!booking && !bookingCompleted">
              <h1 class="h3 mb-3 font-weight-normal text-center">Nueva reserva</h1>
              <label for="reservationDate" class="sr-only">Fecha</label>
              <input type="text" id="reservationDate" class="form-control my-2 p-2 h-auto"
                     placeholder="Dia de la reserva" onfocus="(this.type='date')"
                     formControlName="reservationDate"
                     [ngClass]="{'is-valid': bookingForm.get('reservationDate').valid , 'is-invalid':
          !bookingForm.get('reservationDate').valid  && (bookingForm.get('reservationDate').dirty
          || bookingForm.get('reservationDate').touched)}">
              <div *ngIf="!bookingForm.get('reservationDate').valid  &&
    (bookingForm.get('reservationDate').dirty || bookingForm.get('reservationDate').touched) "
                   class="text-danger"> La fecha introducida no es válida.
              </div>

              <div *ngIf="checkingbookingAvailability" class="text-primary">
                <div class="spinner-grow text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                Comprobando Disponibilidad
              </div>

              <div *ngIf="!checkingbookingAvailability &&  bookingForm.get('reservationDate').dirty">
                <div *ngIf="bookingAvailabilityChecked ==='found'">
                  <div class="row">
                    <div class="col">Hora</div>
                    <div class="col">pistas</div>
                  </div>
                  <div *ngFor="let hour of [10,11,12,13,14,15,16,17,18,19,20,21]" class="row">
                    <div class="col-2">{{hour}}:00</div>
                    <div class="col-10">
                      <div class="row">
                        <div *ngFor="let court of [1,2,3,4]" class="col-3">
                          <button *ngIf="reservationsBooked.includes((hour*10)+court)" type="button"
                                  class="btn btn-sm btn-outline-danger" disabled
                          >{{court}}</button>
                          <button (click)="submitBookingForm(hour,court)"
                                  *ngIf="!reservationsBooked.includes((hour*10)+court)" type="button"
                                  class="btn btn-sm btn-outline-success"
                          >{{court}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="bookingAvailabilityChecked ==='error'" class="text-danger"> Error comprobando la
                  disponibilidad ❌
                </div>
              </div>

            </div>
            <div *ngIf="booking" class="text-center">
              <div class="spinner-grow text-primary m-5" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <p>Enviando...</p>
            </div>

            <div id="alertRegisterCorrect" class="alert alert-success alert-dismissible fade show alertHidden"
                 role="alert"> ¡Enhorabuena! ✔ Has reservado la pista con éxito.
            </div>
            <div id="alertRegisterInvalid" class="alert alert-warning alert-dismissible fade show alertHidden"
                 role="alert">La sesión ya no es válida.
            </div>
            <div id="alertRegisterFailed" class="alert alert-danger alert-dismissible fade show alertHidden"
                 role="alert">Ha habido un error al reservar. por favor inténtalo de nuevo más tarde.
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!--User Reservations Table-->
  <div class="row">
    <div class="col text-center">
      <div *ngIf="loadingBookings" class="d-flex justify-content-center my-5">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <table  *ngIf="!loadingBookings" class="table table-borderless">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Día</th>
          <th scope="col">Hora</th>
          <th scope="col">Pista</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reservation of reservations">
          <th scope="row">{{reservation.rsvId}}</th>
          <td>{{reservation.rsvday}}</td>
          <td>{{reservation.rsvtime}}</td>
          <td>{{reservation.courtId}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
