
<div class="container-fluid px-0">
  <div class="row  mx-0 featurette-image "
       style="min-height: 0;background-attachment: fixed !important; background: url('./../../../assets/images/servicios/servicios-header.jpg')">
    <div class="col text-center p-5 ">
      <h1 class="featurette-heading text-white my-4">Algunos de los servicios que ofrecemos</h1>
      <ul class="nav flex-column mb-3 text-center ">
        <li class="nav-item">
          <a class="nav-link text-white " [routerLink]="['/facilities']" fragment="clases">Clases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/facilities']" fragment="alquiler">Alquiler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/facilities']" fragment="campeonato">Campeonato</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row  mx-0 featurette-image " id="clases">
    <!--         style="min-height: 0;background-attachment: fixed !important; background: url('./assets/images/servicios/servicios-clases.jpg')">-->
    <div class="col text-left p-5">
      <p class="carousel-heading">Clases</p>
      <h3 class="lead">Ofrecemos programas de diferentes niveles, con un sistema progresivo que hace que los
        alumnos
        aprendan y mejoren divirtiéndose de acuerdo a sus habilidades.</h3>
      <div class="row p-3">
        <div class="row">
          <div class="col-md-6">
            <h5>COCOS</h5>
            <p> Orientado a alumnos de edades comprendidas entre los 3 y los 6 años. Está diseñado para
              aprender
              las
              nociones básicas del deporte de tenis, divirtiéndose y disfrutando desde los primeros
              golpes.
            </p>
          </div>
          <div class="col-md-6">
            <h5>INICIACIÓN</h5>
            <p> Diseñados para alumnos de cualquier edad que quieran aprender a jugar al tenis en grupos de
              hasta 5
              alumnos. Podrás elegir entre nuestras diferentes modalidades, la que mejor se adapte a tus
              necesidades.
            </p>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <h5>ADULTOS</h5>
            <p> Grupos de hasta 5 alumnos máximo en los que podrás aprender en un ambiente agradable. </p>

          </div>
          <div class="col-md-6">
            <h5>COMPETICIÓN</h5>
            <p> Dedicado a todos aquellos jugadores de nivel avanzado que quieran mejorar su juego. Máximo 5
              jugadores
              por pista y con 2 modalidades para que elijas la que mejor se adapte a ti. </p>

          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <h5>TECNIFICACIÓN</h5>
            <p> Dirigido a jugadores de competición que quieran sacarle el máximo rendimiento a su juego
              trabajando
              diariamente en grupos de hasta 4 jugadores, dedicando 1,5 horas de tenis diarias y 2 horas
              de
              preparación física semanales. </p>

          </div>
          <div class="col-md-6">
            <h5>ALTO RENDIMIENTO</h5>
            <p> Programa adaptado a aquellos jugadores adentrados en el mundo de la competición, que deseen
              dedicar
              parte de su vida al padel, entrenando diariamente a un nivel exigente desglosado en 2 horas
              diarias
              de
              tenis y 4 horas semanales de preparación física. Con acompañamiento a los torneos
              recomendados.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row  mx-0 featurette-image " id="alquiler"
       style="min-height: 0;background-attachment: fixed !important; background: url('./../../../assets/images/servicios/servicios-equipacion.jpg')">
    <div class="col-md-6 text-left p-5 text-white">
      <p class="carousel-heading ">Alquiler de equipación.</p>
      <p>Uno de nuestros servicios es el alquiler de equipos y materiales para el pádel. Utilizamos una variedad
        de diferentes zapatos, camisetas y palas que están disponibles para alquilar.
        <br> <br>
        Es recomendable practicar padel con zapatillas de pádel dado que se puede hacer para todos los
        niveles de fitness, especialmente para los principiantes, y los beneficios de practicar padel en una
        superficie plana son una gran manera de calentar o enfriar, y para mejorar su golpe.
    </div>
    <div class="col-md-6 pt-4">

      <table class="table  text-white">
        <thead>
        <tr>
          <th scope="col">Material</th>
          <th scope="col">Precio /hora</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Pala</td>
          <td>5 euros</td>
        </tr>
        <tr>
          <td>Camisetas</td>
          <td>3 euros</td>
        </tr>
        <tr>
          <td>Pantalones</td>
          <td>3 euros</td>
        </tr>
        <tr>
          <td>Zapatillas</td>
          <td>7 euros</td>
        </tr>
        <tr>
          <td>Pelotas</td>
          <td>9 euros</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="row  mx-0 featurette-image " id="campeonato">
    <!--         style="min-height: 0;background-attachment: fixed !important; background: url('./assets/images/servicios/servicios-campeonato.jpg')">-->
    <div class="col text-left p-5 ">
      <p class="carousel-heading">Campeonato</p>
      <h3 class="lead">Si te gustan los retos, marcarte objetivos y pelear por una victoria, lo tuyo es el
        Campeonato de la UPM.</h3>
      <div class="row p-3">
        <p> Empieza en un grupo enfrentándote a jugadores de tu nivel y, según vayas ganando partidos, subirás
          de categoría para enfrentarte contra los más fuertes.
          <br><br>
          A lo largo de la temporada del campeonato, se disputarán 7 FASES. En cada una de estas fases se
          enviará a los jugadores un cuadro con los datos de sus contrincantes, que deberán ponerse de acuerdo
          para jugar todos sus partidos antes de que finalice esa ronda.
          <br><br>
          Los jugadores recibirán 3 puntos por partido ganado y 1 punto por partido perdido. En caso de no
          poder finalizar el encuentro, y de mutuo acuerdo, los jugadores podrán declarar el partido empatado
          y cada uno de ellos recibirá 2 puntos.
          <br><br>
          Al finalizar cada serie se establecerá una nueva clasificación de cada grupo siguiendo el criterio
          que se indica en la Normativa.
          <br><br>
          Si se te ha pasado el plazo, no te preocupes, ¡puedes incorporarte entre una fase y la siguiente!.
        </p>
      </div>
    </div>
  </div>
  <div class="row  mx-0 featurette-image "
       style="min-height: 0;background-attachment: fixed !important; background: url('./../../../assets/images/servicios/servicios-quote.jpg')">
    <div class="col text-left p-5 text-white">
      <blockquote class="blockquote  p-5 text-center">
        <p> Creemos en el deporte como una parte importante de la vida, por ello apostamos por la
          deportividad, el respeto, la disciplina y el compañerismo. De la misma manera que valoramos
          el esfuerzo y el sacrificio por lo que trabajamos diariamente para formar a nuestros alumnos
          en estos valores.
        </p>
        <footer class="blockquote-footer text-white ">Harry Potter, director de <cite
          title="Source Title"><a class="text-white" href="./index.html">Padel UPM</a></cite></footer>
      </blockquote>
    </div>
  </div>
</div>
