
<nav id="navbar" class="navbar navbar-light  navbar-expand-md  justify-content-center">
<a href="./index.html" class="navbar-brand d-flex w-50 mr-auto">
  <img src="./assets/images/logo.png" width="30" height="30" class="d-inline-block align-top mr-3" alt="">
  Padel UPM</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsedNavbar">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse w-100 text-center" id="collapsedNavbar">
  <ul class="navbar-nav w-100 justify-content-center">
    <li class="nav-item "><a class="nav-link" href="./index.html">Inicio</a></li>
    <li class="nav-item "><a class="nav-link" href="./servicios.html">Servicios</a></li>
    <li class="nav-item "><a class="nav-link" href="./instalaciones.html">Instalaciones</a></li>
  </ul>
  <ul class="nav navbar-nav ml-auto w-100 justify-content-end">

<!-- If it is logged in-->
<!--    <li class="nav-item dropdown ">-->
<!--      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
<!--         aria-haspopup="true" aria-expanded="false">-->
<!--        ${user.username}</a>-->
<!--      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">-->
<!--        <a class="dropdown-item" href="./reservar.html">Reservar</a>-->
<!--        <a onclick="toggleTheme()" class="dropdown-item" href="#">Cambiar tema</a>-->
<!--        <a onclick="logout()" class="dropdown-item" href="#">Logout</a>-->
<!--      </div>-->
<!--    </li>-->

    <li class="nav-item "><a class="nav-link" href="./registro.html">Registro</a></li>
    <li class="nav-item "><a class="nav-link" href="./login.html">Login</a></li>


  </ul>
</div>
</nav>
